<div class="featuresSection flexCenter">
  <div class="container flexRow">
    <!-- FLASH CARD -->
    <div class="flex1 card">
      <div class="front fullHeight flexColumn justifyBetween black padding borderBox">
        <div class="justifyStart textYellow fullWidth dflex" id="wordPosition" currentWord="<%=id;%>" totalWords="<%=words.length;%>">word
          <%=Number(id)+1;%> of
            <%=words.length;%>
        </div>
        <div class="justifyCenter textWhite fullWidth  dflex fontSize2">
          <%=word.name;%>
        </div>
        <div class="justifyEnd textYellow dflex">click to flip card</div>
      </div>
      <div class="back flex1 flexCenter black">
        <div class="textWhite flex1 fontSize2 textAlignCenter">
          <%=word.definition;%>
        </div>
      </div>
    </div>
    <div class="flex1 flexCenter">
      <div class="widthP80 heightP100 flexColumn justifyEvenly">
        <%
          if (home) {
            var disabled="disabled"
          } else {
            var disabled=""
          }
        %>
          <div class="widthP80 height60 yellow hoverButton flexCenter fWeight500 <%=disabled;%> gotWordDown">
            <a href="/dashboard/changeFamiliarity/<%=word.id;%>/<%=id;%>" class="inheritColor">I GOT THIS WORD DOWN</a>
          </div>
          <div class="widthP80 height60 flexRow justifyBetween">
            <div class="widthP40 fullHeight yellow hoverButton flexCenter fWeight500 <%=disabled;%> previous">
              PREVIOUS
            </div>
            <div class="widthP40 fullHeight yellow hoverButton flexCenter fWeight500 <%=disabled;%> next">
              NEXT
            </div>
          </div>
          <form action="/dashboard/easy/<%=id;%>?_method=DELETE" method="POST">
            <input class="widthP80 height60 yellow hoverButton flexCenter fWeight500 fSize1 <%=disabled;%> delete" id="deleteWord" type="submit"
              value="DELETE THIS WORD" />
          </form>
      </div>
    </div>
  </div>
</div>